<div class="container">
    <h2>Salvar contato</h2>
    <form (ngSubmit)="onSubmit()" #contatoForm="ngForm">
        <div [ngClass]="getFormGroupClass(nome.valid, nome.pristine)">
            <label class="form-control-label">Nome</label>
            <input type="text" [ngClass]="getFormControlClass(nome.valid, nome.pristine)" placeholder="Insira o nome"
                   required name="nome" #nome="ngModel" [(ngModel)]="contato.nome"/>
            <div class="form-control-feedback" [hidden]="nome.valid || nome.pristine">
                O Campo nome é obrigatório!
            </div>
        </div>
        <div [ngClass]="getFormGroupClass(email.valid, email.pristine)">
            <label class="form-control-label">email</label>
            <input type="text" #email="ngModel" [ngClass]="getFormControlClass(email.valid, email.pristine)" placeholder="Insira o email"
                   required name="email" [(ngModel)]="contato.email"/>
            <div class="form-control-feedback" [hidden]="email.valid || email.pristine">
                O Campo nome é obrigatório!
            </div>
        </div>
        <div [ngClass]="getFormGroupClass(telefone.valid, telefone.pristine)">
            <label class="form-control-label">Telefone</label>
            <input type="text" [ngClass]="getFormControlClass(telefone.valid, telefone.pristine)" placeholder="Insira o telefone"
                   required #telefone="ngModel" name="telefone" [(ngModel)]="contato.telefone"/>
            <div class="form-control-feedback" [hidden]="telefone.valid || telefone.pristine">
                O Campo nome é obrigatório!
            </div>
        </div>
        <button type="submit" [disabled]="!contatoForm.form.valid" class="btn btn-success">Salvar</button>
        <button class="btn btn-secondary" (click)="goBack()">Voltar</button>
    </form>
</div>